<h2>Add New Snippet</h2>

{{#errorMsg}}
<div class="alert alert-danger">
  {{.}}
</div>
{{/errorMsg}}

<form action="/create/" method="POST">
  <p>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required />
  </p>

  <p>
    <label for="body">Body:</label>
    <input type="text" id="body" name="body" />
  </p>

  <p>
    <label for="notes">Notes:</label>
    <input type="text" id="notes" name="notes" />
  </p>

  <p>
    <label for="language">Language:</label>
    <input type="text" id="language" name="language" />
  </p>

  <p>
    <label for="tagsRaw">Tags:</label>
    <input type="text" id="tagsRaw" name="tagsRaw"/>
  </p>

  <p>
    <button type="submit">Add Snippet</button>
  </p>
</form>
