<h2>Add new snippet</h2>

{{#errorMsg}}
<div class="alert alert-danger">
  {{.}}
</div>
{{/errorMsg}}

<form action="/create/" method="POST">
  <p>
    <label for="title">Title:</label>
    <input type="text" id="name" name="name" required />
  </p>

  <p>
    <label for="body">Body:</label>
    <input type="text" id="body" name="body" />
  </p>

  <p>
    <label for="language">Language:</label>
    <input type="text" id="language" name="language" />
  </p>

  <p>
    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags" />
  </p>

  <p>
    <button type="submit">Add recipe</button>
  </p>
</form>
