EDIT PAGE GOES HERE:

{{#snippet}}

<p>title:{{title}}</p>
<p>author:{{author}}</p>
<p>language:{{language}}</p>
<p>tags:{{tags}}</p>
<p>stars:{{stars}}</p>

{{/snippet}}

{{^snippet}}
No snippet loaded
{{/snippet}}
