<div class="container" style="margin-top: 2rem">
  <div class="row">
    <div class="col">
      {{#user}}
        <h1>
          You are logged in as {{ username }}.
          <small><a href="/logout/">Logout</a></small>
        </h1>
        <!-- <a href="/create/">Make a new snippet</a><br>
        <a href="/snippets/">See all snippets</a><br>
        <a href="/users/">See all users</a><br>
        <a href="/snippets/user/{{username}}">See your snippets</a><br>
        <a href="/tagsbyuser/{{username}}">See your tags</a><br>
        <a href="/languagesuser/{{username}}">See your languages</a><br> -->
      {{/user}}
      {{^user}}
      <h1>
        You are not logged in.
        <small><a href="/login/">Login</a> | <a href="/register/">Register</a></small>
      </h1>
      {{/user}}
      <p class="lead">

      </p>
    </div>
  </div>
</div>