MANY SNIPPETS

{{#snippet}}
<div class="snippet">
<h2><a href="/snippets/id/{{id}}">{{title}}</a></h2>
<dl>
  <dt>Author</dt>
  <dd><a href="/snippets/user/{{author}}">{{author}}</a></dd>

  <dt>Language</dt>
  <dd><a href="/snippets/language/{{language}}">{{language}}</a></dd>

  <dt>Tags</dt>
  {{#tags}}
  <dd><a href="/snippets/tag/{{.}}">{{.}}</a></dd>
  {{/tags}}

  {{numberOfStars}} People Like This
  {{#starred}}
  <form action="/star/" method="POST">
  <button type="submit" name="id" value="{{id}}">UNLIKE THIS</button>
  </form>
  {{/starred}}

  {{^starred}}
  <form action="/star/" method="POST">
  <button type="submit" name="id" value="{{id}}">LIKE THIS</button>
  </form>
  {{/starred}}
</dl>
</div>
{{/snippet}}

{{^snippet}}
No snippet loaded
{{/snippet}}


<!-- {{#recipes}}
  <div class="recipe">
  <h2>
    <a href="/{{_id}}">
      {{name}}
    </a>
  </h2>
  <dl>
  {{#source}}
  <dt>
    Source
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/source}}
  {{#prepTime}}
  <dt>
    Prep time
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/prepTime}}
  {{#cookTime}}
  <dt>
    Cook time
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/cookTime}}
  </dl>
  </div>
{{/recipes}} -->
