MANY SNIPPETS

{{#snippet}}

<a href="/snippets/id/{{id}}"><p>title:{{title}}</p></a>
<a href="/snippets/user/{{author}}"><p>author:{{author}}</p></a>
<a href="/snippets/language/{{language}}"><p>language:{{language}}</p></a>

TAGS:{{#tags}}
  <a href="/snippets/tag/{{.}}"<p>{{.}}</p></a>
{{/tags}}
<p>numberOfStars:{{numberOfStars}}</p>
{{/snippet}}

{{^snippet}}
No snippet loaded
{{/snippet}}
