JUST ONE SNIPPET

{{#snippet}}

<h2>{{title}}</p>
<a href="/snippets/user/{{author}}"><p>author:{{author}}</p></a>
<div class="bodyText">{{body}}</div>
<div class="notes">Notes: {{notes}}</p>
<div class="language">Language:<a href="/snippets/language/{{language}}">{{language}}</a></div>
TAGS:{{#tags}}
  <div class = "tag"><a href="/snippets/tag/{{.}}">{{.}}</a></div>
{{/tags}}
{{numberOfStars}} People Like This:{{#stars}}
<a href="/snippets/users/{{.}}/"><p>{{.}}</p></a>
{{/stars}}
<p>numberOfStars:{{numberOfStars}}</p>
{{#starred}}
<form action="/star/" method="POST">
<button type="submit" name="id" value="{{id}}">UNLIKE THIS</button>
</form>
{{/starred}}

{{^starred}}
<form action="/star/" method="POST">
<button type="submit" name="id" value="{{id}}">LIKE THIS</button>
</form>
{{/starred}}


{{/snippet}}

{{^snippet}}
No snippet loaded
{{/snippet}}
