<h2>JUST ONE SNIPPET</h2>

<div class="container">
{{#snippet}}
<div class="snippet">
<h2><a href="/snippets/id/{{id}}">{{title}}</a></h2>
<dl>
  <dt>Author</dt>
  <dd><a href="/snippets/user/{{author}}">{{author}}</a></dd>

  <dt>Language</dt>
  <dd><a href="/snippets/language/{{language}}">{{language}}</a></dd>

  <dt>Body</dt>
  <dd>{{body}}</dd>

  <dt>Notes</dt>
  <dd>{{notes}}</dd>

  <dt>Tags</dt>
  <dd>{{#tags}}
  <a href="/snippets/tag/{{.}}">{{.}}</a>,
  {{/tags}}</dd>

  <dt>{{numberOfStars}} People Like This</dt>
  <dd>{{#stars}}
  <a href="/snippets/user/{{.}}">{{.}}</a>,
  {{/stars}}</dd>

  {{#starred}}
  <form action="/star/" method="POST">
  <button type="submit" name="id" value="{{id}}">UNLIKE THIS</button>
  </form>
  {{/starred}}

  {{^starred}}
  <form action="/star/" method="POST">
  <button type="submit" name="id" value="{{id}}">LIKE THIS</button>
  </form>
  {{/starred}}
</dl>
</div>
{{/snippet}}

{{^snippet}}
<h2>No snippets match this criteria</h2>
{{/snippet}}
</div>
