JUST ONE SNIPPET

{{#snippet}}

<p>title:{{title}}</p>
<p>author:{{author}}</p>
<p>body:{{body}}</p>
<p>id:{{id}}</p>
<p>notes:{{notes}}</p>
<p>language:{{language}}</p>
<p>tags:{{tags}}</p>
<p>stars:{{stars}}</p>
<p>numberOfStars:{{numberOfStars}}</p>

{{#starred}}
<form action="/star/" method="POST">
<button type="submit" name="id" value="{{id}}">LIKE THIS</button>
</form>
{{/starred}}

{{^starred}}
<form action="/star/" method="POST">
<button type="submit" name="id" value="{{id}}">UNLIKE THIS</button>
</form>
{{/starred}}


{{/snippet}}

{{^snippet}}
No snippet loaded
{{/snippet}}
