<div class="container">
  {{#snippet}}
    <div class="snippet">
      <h3><a href="/snippets/user/{{.}}">{{.}}</a></h3>
      <a href="/tagsbyuser/{{.}}/">Tags by this User </a> |
      <a href="/languagesbyuser/{{.}}/">Languages by this User</a>
    </div>
  {{/snippet}}

  {{^snippet}} No user loaded
  {{/snippet}}
</div>